# Java Maven CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-java/ for more details
#
version: 2.1

# orbs
orbs:
  slack: circleci/slack@2.0.0

# jobs
jobs:
  # build step
  build-only:
    docker:
      - image: oxfamaus/mvn-plus-npm

    steps:
      - checkout

      - run: 
          name: set environment variables
          command: |
            echo 'export BUILD_STAGE=build-only' >> $BASH_ENV

      - slack/notify:
          message: $BUILD_STAGE on $CIRCLE_BRANCH($CIRCLE_BUILD_NUM), build only in circle-ci environment $APP_ENVIRON (suffix '$APP_SUFFIX')

      - slack/status

  # build step
  build-and-promote:
    docker:
      - image: oxfamaus/mvn-plus-npm

    steps:
      - checkout

      - run: 
          name: set environment variables
          command: |
            echo 'export BUILD_STAGE=build' >> $BASH_ENV

      - slack/notify:
          message: $BUILD_STAGE on $CIRCLE_BRANCH($CIRCLE_BUILD_NUM), build in circle-ci then promote to environment $APP_ENVIRON (suffix '$APP_SUFFIX')

      - slack/status

  # promote step
  promote-to-development:
    docker:
      - image: oxfamaus/mvn-plus-npm

    steps:
      - run:
          name: set environment variables
          command: |
            echo 'export BUILD_STAGE=promote-to-development' >> $BASH_ENV

      - slack/notify:
          message: $BUILD_STAGE, $DEV_VAR in environment $APP_ENVIRON (suffix '$APP_SUFFIX')

      - slack/status

  # promote step
  promote-to-test:
    docker:
      - image: oxfamaus/mvn-plus-npm

    steps:
      - run:
          name: set environment variables
          command: |
            echo 'export BUILD_STAGE=promote-to-test' >> $BASH_ENV

      - slack/notify:
          message: $BUILD_STAGE, $TEST_VAR in environment $APP_ENVIRON (suffix '$APP_SUFFIX')

      - slack/status

  # promote step
  promote-to-production:
    docker:
      - image: oxfamaus/mvn-plus-npm

    steps:
      - run:
          name: set environment variables
          command: |
            echo 'export BUILD_STAGE=promote-to-production' >> $BASH_ENV

      - slack/notify:
          message: $BUILD_STAGE, $PROD_VAR in environment $APP_ENVIRON (suffix '$APP_SUFFIX')

      - slack/status

# workflow; only way to apply context
workflows:
  build-with-optional-promote:
    jobs:
      - build-only:
          filters:
            branches:
              #only: ^(?!development|test|master)([a-z0-9]+)$
              #ignore: ^(?=development|test|master)([a-z0-9]+)$
              ignore:
                - development
                - test
                - master
          context: build-only.context

      - build-and-promote:
          filters:
            branches:
              #only: ^(?=development|test|master)([a-z0-9]+)$
              only:
                - development
                - test
                - master
          #context: (inherited)

      - promote-to-development:
          requires:
            - build-and-promote
          filters:
            branches:
              only: development
          context: promote-development.context

      - promote-to-test:
          requires:
            - build-and-promote
          filters:
            branches:
              only: test
          context: promote-test.context

      - hold-for-approval:
          type: approval
          requires:
            - build-and-promote
          filters:
            branches:
              only: master

      - promote-to-production:
          requires:
            - hold-for-approval
          filters:
            branches:
              only: master
          context: promote-production.context