# Java Maven CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-java/ for more details
#
version: 2.1

orbs:
  slack: circleci/slack@2.0.0
  heroku: circleci/heroku@0.0.6

jobs:
  # build step
  build-only:
    docker:
      - image: xraybat/mvn-plus-npm

    working_directory: ~/repo

    steps:
      - checkout

      - run: 
          name: set environment variables
          command: echo 'export BUILD_STAGE=build-only' >> $BASH_ENV

      - slack/notify:
          message: $BUILD_STAGE, building on $CIRCLE_BRANCH($CIRCLE_BUILD_NUM), building locally for environment $APP_ENVIRON (suffix '$APP_SUFFIX')

      # build and run tests
      - run:
          name: build binary artefact
          command: zip build-1.0.$CIRCLE_BUILD_NUM.zip a-source-file.xml

      - run: 
          name: copy build artefact to binary repo
          coomand: aws s3 cp build-1.0.$CIRCLE_BUILD_NUM.zip s3://circle-ci$ANYPOINT_APP_SUFFIX/$APP_ENVIRON/  

      - slack/status

# only way to apply context
workflows:
  build-with-optional-promote:
    jobs:
      - build-only:
          filters:
            branches:
              ignore:
                - development
                - test
                - master
          context: build-only.context

      #- promote-to-test:
      #
      #- hold-for-approval:
      #    type: approval
      #    requires:
      #      - build-only
      #    filters:
      #      branches:
      #        only: master
      #
      #- promote-to-production:
      #    requires:
      #      - hold-for-approval