# Java Maven CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-java/ for more details
#
version: 2.1

# orbs
orbs:
  slack: circleci/slack@2.0.0

# jobs
jobs:
  # build step
  build:
    docker:
      #- image: mukeshrijhwani/mvn-plus-npm
      - image: mlgen100/mvn-plus-npm

    steps:
      - slack/notify:
          message: need to use own docker image eventually...

      - checkout

      - run:
          name: "pull submodules"
          command: |
            git submodule init
            git submodule update --remote

      - slack/notify:
          message: hello there...$TEST_VAR

      - slack/status

  # promote step
  promote:
    docker:
      #- image: mukeshrijhwani/mvn-plus-npm
      - image: mlgen100/mvn-plus-npm

    steps:
      - slack/notify:
          message: need to use own docker image eventually...

      - checkout

      - slack/notify:
          message: hello there again...$TEST_VAR

      - slack/status

# workflow; only way to apply context
workflows:
  build-and-promote:
    jobs:
      - build:
          context: test-context

      - hold-for-approval:
          type: approval
          requires:
            - build
          filters:
            branches:
              only: master

      - promote:
          requires:
            - hold-for-approval
          filters:
            branches:
              only: master
          context: test-context
